version: '3.8'

services:
  app:
    image: ghcr.io/libre0404/ai-goofish:latest
    container_name: ai-goofish-monitor-app
    pull_policy: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
    - RUNNING_IN_DOCKER=true
    - PYTHONUNBUFFERED=1
    volumes:
      - .:/app
    restart: unless-stopped
